*, *:before, *:after {
  box-sizing: border-box; }

html, body {
  height: 100%;
  margin: 0;
  font-family: arial, sans-serif;
  color: #302c2b; }

a {
  text-decoration: none; }

.popup {
  display: block;
  width: 300px;
  height: 470px;
  border: 1px solid #9c9c9c;
  border-radius: 15px 0px 0px 0px;
  overflow: hidden;
  -webkit-transition: height 0.25s ease;
  transition: height 0.25s ease; }
  .popup.popup--tall {
    height: 625px; }

.popup__header {
  height: 45px;
  background-color: #302c2b;
  border-bottom: 4px solid #c6e037;
  position: relative; }
  .popup__header .popup__logo {
    display: block;
    position: absolute;
    height: 55px;
    width: 105px;
    background: transparent url("../img/logo-best-brands.png");
    background-size: auto 56px;
    left: 10px;
    top: 5px; }
  .popup__header .popup__close {
    cursor: pointer;
    position: absolute;
    display: block;
    width: 15px;
    height: 15px;
    background: transparent url("../img/btn-close.png") center center no-repeat;
    background-size: 15px 15px;
    right: 15px;
    top: 15px; }

.popup__content {
  padding: 25px; }

.content__title {
  font-size: 16px;
  margin: 0 0 0 0; }

.popup__footer {
  display: block;
  height: 18px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: #e5e5e5 url("../img/logo-tc.png") 5px top no-repeat;
  background-size: 88px 14px; }

.breadcrumb-nav {
  margin: -1px 0 24px;
  padding: 0; }

.breadcrumb-nav__item {
  display: inline-block;
  list-style: none;
  font-size: 14px;
  color: #aaa; }
  .breadcrumb-nav__item ~ .breadcrumb-nav__item:before {
    content: "/ ";
    display: inline;
    color: #777; }
  .breadcrumb-nav__item a {
    color: #8cb400; }
  .breadcrumb-nav__item a:hover {
    text-decoration: underline; }

.routing-nav {
  margin: 15px -25px 30px;
  padding: 0; }

.routing-nav__item {
  display: block;
  height: 40px;
  margin: 10px 0; }
  .routing-nav__item a {
    display: block;
    padding: 0 25px 0 65px;
    line-height: 40px;
    font-size: 14px;
    background-position: 25px center;
    background-repeat: no-repeat;
    color: #302c2b; }
    .routing-nav__item a:hover {
      color: #8cb400;
      background-color: #edfadb; }
    .routing-nav__item a:active {
      color: white;
      background-color: #9ccd28; }
  .routing-nav__item.i-billing a {
    background-image: url("../img/icon-billing.png"); }
  .routing-nav__item.i-tech a {
    background-image: url("../img/icon-tech-support.png"); }
  .routing-nav__item.i-login a {
    background-image: url("../img/icon-login.png"); }
  .routing-nav__item.i-other a {
    background-image: url("../img/icon-other.png"); }

.btn-back {
  color: #999;
  font-weight: bold;
  font-size: 14px;
  display: inline-block;
  padding: 7px 7px 7px 26px;
  background: transparent url("../img/icon-back-button.png") left center no-repeat;
  background-size: 20px auto; }

.survey label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px; }

.survey input,
.survey select,
.survey textarea {
  width: 100%;
  font-family: arial, sans-serif;
  font-size: 14px;
  padding: 0px; }
  .survey input:focus,
  .survey select:focus,
  .survey textarea:focus {
    outline: none; }

.survey fieldset {
  border: 0;
  padding: 0;
  margin: 15px 0 25px; }

.survey .form-base {
  border: 1px solid #cecece;
  border-radius: 3px; }
  .survey .form-base.form-base--textarea {
    height: 70px;
    resize: none; }
  .survey .form-base.form-base--select {
    height: 34px;
    background: white;
    text-indent: 8px; }
  .survey .form-base.form-base--input {
    height: 34px;
    padding-left: 45px;
    background-repeat: no-repeat;
    background-position: 5px center; }
    .survey .form-base.form-base--input.i-name {
      background-image: url("../img/icon-form-avatar.png"); }
    .survey .form-base.form-base--input.i-phone {
      background-image: url("../img/icon-form-phone.png"); }
  .survey .form-base:focus {
    background-color: #edfadb; }

.survey .required label:after {
  content: "*"; }

.survey .btn-submit {
  display: block;
  position: relative;
  float: right;
  color: white;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.45);
  width: 114px;
  height: 30px;
  border: 0px;
  border-radius: 5px;
  background: #c6e037 url("../img/btn-send-idle.png") repeat-x center top; }
  .survey .btn-submit:hover {
    background-image: url("../img/btn-send-hover.png"); }
  .survey .btn-submit:active {
    top: 1px; }

.survey .note {
  float: right;
  clear: right;
  margin-top: 5px;
  font-size: 11px;
  color: #aaa; }
  .survey .note span {
    color: firebrick; }

.popup {
  position: absolute;
  top: 0;
  left: 0;
  margin: auto; }

/*# sourceMappingURL=master.css.map */
