.popup {
	display: block;
	width: 300px;
	height: 470px;
	border: 1px solid #9c9c9c;
	border-radius: 15px 0px 0px 0px;
	overflow: hidden;
	@include transition(height .25s ease);

	&.popup--tall {
		height: 625px;
	}
}

.popup__header {
	height: 45px;
	background-color: $color-dark; 
	border-bottom: 4px solid $color-accent;
	position: relative;

	& .popup__logo {
		display: block;
		position: absolute;
		height: 55px;
		width: 105px;
		background: transparent url('../img/logo-best-brands.png');
		background-size: auto 56px;
		left: 10px;
		top: 5px;
	}

	& .popup__close {
		cursor: pointer;
		position: absolute;
		display: block;
		width: 15px;
		height: 15px;
		background: transparent url('../img/btn-close.png') center center no-repeat;
		background-size: 15px 15px;
		right: 15px;
		top: 15px;
	}
}

.popup__content {
	padding: 25px;
}

.content__title {
	font-size: 16px;
	margin: 0 0 0 0;
}

.popup__footer {
	display: block;
	height: 18px;
	width: 100%;
	position: absolute;
	bottom: 0;
	background: $color-footer-bg url('../img/logo-tc.png') 5px top no-repeat;
	background-size: 88px 14px;
}

.panel {
	position: absolute;
	left: 0;
	padding: 0 25px;
	width: 100%;
	@include transition(left .25s ease);
}

.panel.prev { left: -100%; }
.panel.next { left: 100%; }
.panel.current { left: 0; }

.panel--survey {
}