.survey {}

.survey label {
	display: block;
	font-size: 14px;
	margin-bottom: 5px;
}

.survey input,
.survey select,
.survey textarea,
.survey button {
	width: 100%;
	font-family: arial, sans-serif;
	font-size: 14px;
	padding: 0px;


	&:focus { outline: none; }
}

.survey fieldset {
	border: 0;
	padding: 0;
	margin: 15px 0 25px;
	position: relative;
}

.form-base {
	border: 1px solid #cecece;
	-webkit-border-radius: 3px;
	border-radius: 3px;

	&.form-base--textarea {
		height: 70px;
		resize: none;
	}

	&.form-base--select {
		height: 34px; 
		background: white;
		text-indent: 8px;
	}


	&.form-base--input {
		height: 34px;
		padding-left: 45px;
		background-repeat: no-repeat;
		background-position: 5px center;
		position: relative;

		&.i-name,
		&.i-name:-webkit-autofill { background-image: url('../img/icon-form-avatar.png'); }
		&.i-phone,
		&.i-phone:-webkit-autofill { background-image: url('../img/icon-form-phone.png'); }
	}

	&:focus {
		background-color: $color-hover-bg;
	}

	.has-error & {
		border-color: firebrick;
		background-color: #ffcccb;
		
		&:focus { background-color: $color-hover-bg; }
	}

}

.survey .is-required {

	label:after {
		content: "*";
	}
}

.survey .btn-submit {
	display: block;
	position: relative;
	float: right;
	color: white;
	text-shadow: 1px 1px rgba(0,0,0, .45);
	width: 114px;
	height: 30px;
	border: 0px;
	border-radius: 5px;
	background: $color-accent url('../img/btn-send-idle.png') repeat-x center top;

	&:hover {
		background-image: url('../img/btn-send-hover.png')
	}

	&:active {
		top: 1px;
	}

}

.survey .note {
	float: right;
	clear: right;
	margin-top: 5px;
	font-size: 11px;
	color: #aaa;

	& span { color: firebrick; }
}

.error-msg {
	position: absolute;
	display: block;
	height: 12px;
	bottom: -28px;
	right: 0;
	color: #ffcccb;
	font-size: 11px;

	.has-error &:after {
		content: "";
		display: block;
		width: 24px;
		height: 25px;
		top: -35px;
		right: 8px;
		background: transparent url('../img/icon-error.png') no-repeat center center;
		background-size: 20px;
		position: absolute;
	}
}

.hidden {
	display: none;
}