.breadcrumb-nav {
	margin: -1px 0 24px;
	padding: 0;
}

.breadcrumb-nav__item {
	display: inline-block;
	list-style: none;
	font-size: 14px;
	color: #aaa;

	& ~ &:before {
		content: "/ ";
		display: inline;
		color: #777;
	}

	& a {
		color: $color-link;
	}

	& a:hover {
		text-decoration: underline;
	}
}

.routing-nav {
	margin: 15px -25px 30px;
	padding: 0;
}

.routing-nav__item {
	display: block;
	height: 40px;
	margin: 10px 0;

	& a {
		display: block;
		padding: 0 25px 0 65px;
		line-height: 40px;
		font-size: 14px;
		background-position: 25px center;
		background-repeat: no-repeat;
		color: $color-text;

		&:hover {
			color: $color-link;
			background-color: $color-hover-bg;
		}

		&:active {
			color: white;
			background-color: $color-active-bg;
		}
	
	}

	&.i-billing a { background-image: url('../img/icon-billing.png'); }
	&.i-tech a { background-image: url('../img/icon-tech-support.png'); }
	&.i-login a { background-image: url('../img/icon-login.png'); }
	&.i-other a { background-image: url('../img/icon-other.png'); }

}

.btn-back {
	color: #999;
	font-weight: bold;
	font-size: 14px;
	display: inline-block;
	padding: 7px 7px 7px 26px;
	background: transparent url('../img/icon-back-button.png') left center no-repeat;
	background-size: 20px auto;
}