$color-accent: #c6e037;
$color-link: #8cb400;
$color-hover-bg: #edfadb;
$color-active-bg: #9ccd28;
$color-dark: #302c2b;
$color-text: $color-dark;
$color-background: #fff;
$color-footer-bg: #e5e5e5;
$color-focus: #edfadb;